.inputSubClass {
  position: relative;
  /* margin: 0.5em auto; */
}

.inputSubClass > .textInput {
  border: 1px solid rgba(126, 139, 182, 0.3);
  background-color: transparent;
  border-radius: 2.59px;
  width: 100%;
  height: 37px;
  margin: 0.7em 0em;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  position: relative;
  color: #ffffff;
}

.inputSubClass > .textInput_invalid {
  border-radius: 10px;
  width: 100%;
  height: 37px;
  margin: 0.7em 0em;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  position: relative;
  border: 1px solid red;
  color: #ffffff;
}

.textInput:focus {
  border: 1px solid yellow;
  outline: none;
}

.textInput_invalid {
  outline: none;
}

.inputLabel {
  cursor: text;
  /* border: 1px solid black; */
  color: #999999;
  font-size: 12px;

  font-weight: 100;
  position: absolute;
  top: 32px;
  left: 16px;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out;

  font-weight: 100;
}

.textInput:focus + .inputLabel,
.textInput:not(:placeholder-shown) + .inputLabel {
  transform: translateY(-0.8em) scale(0.7);
}

.textInput_invalid:focus + .inputLabel,
.textInput_invalid:not(:placeholder-shown) + .inputLabel {
  transform: translateY(-0.8em) scale(0.7);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .inputSubClass .textInput {
    width: 100%;
    margin: 0.7em auto;
  }

  .inputSubClass > .textInput_invalid {
    width: 100%;
    margin: 0.7em auto;
  }

  .inputLabel {
    top: 25px;
    /* left: 65px; */
    left: 10px;
  }
}
