.listItemOuter {
  background: var(--foregroundBlack);
  padding: 0 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.listItem {
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
}

.leftSection {
  width: 85%;
  padding: 0.75rem 0;
}

.adName {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  animation: appear 0.3s ease-in-out;
  padding: 0.75rem 0;
}

.rightSection > div:nth-child(2),
.rightSection > div:nth-child(3) {
  border: 2px solid yellow;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.rightSection > div:nth-child(3):hover {
  color: red;
}

.deleteOption {
  bottom: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1rem;
  border-top: 1px solid #1c1c1c;
  overflow: hidden;
  /* height: 0px; */
  transition: all 0.3s ease-in-out;
}

.uploadButton {
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  padding: 0.25rem 0.5rem;
  text-align: center;
  background: #ffd91b;
  border-radius: 6px;
  color: var(--foregroundBlack);
  user-select: none;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  margin: 0.5rem 0;
}

.uploadButton2 {
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  padding: 0.25rem 0.5rem;
  text-align: center;
  border: 1px solid #ffd91b;
  background: black;
  color: #ffffff;
  border-radius: 6px;
  user-select: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 0.5rem 0;
}
